<% layout('mainLayout') %>
				<div id="banner" class="page-header">
				  <div class="row">
				    <div class="col-lg-6">
				      <h1>Deal Finder!<small> Find a deal in your neighborhood!</small></h1>
				    </div>
				  </div>
				</div>
				<div class="row">
				  <div class="col-xs-12 col-sm-8">
				    <div class="row list-group">
				      <div class="col-xs-12 list-group-item">
				        <h4><a href="/location">Ester's Smokeshack</a><small>&nbsp;&nbsp;<span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></small><span class="badge pull-right badge-defualt">100m</span></h4>
				        <p class="address">789 Woods Lane, New York, 10001</p>
				        <p><span class="label label-warning">BBQ</span>&nbsp;&nbsp;<span class="label label-warning">Beer specials</span>&nbsp;&nbsp;<span class="label label-warning">Premium Sports HD</span>&nbsp;&nbsp;</p>
				      </div>
				    </div>
				  </div>
				  <div class="col-xs-12 col-sm-4">
				    <p class="lead">Looking for a brunch place? Enjoy free wifi and complimentary perks at these locations! Happy Hours from 3pm to 9pm. </p>
				  </div>
				  <div class="col-xs-12 col-sm-8">
				    <div class="row list-group">
				      <div class="col-xs-12 list-group-item">
				        <h4><a href="/location">Dan's Place</a><small>&nbsp;&nbsp;<span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span></small><span class="badge pull-right badge-defualt">300m</span></h4>
				        <p class="address">125 High Street, New York, 10001</p>
				        <p><span class="label label-warning">Hot drinks</span>&nbsp;&nbsp;<span class="label label-warning">Food</span>&nbsp;&nbsp;<span class="label label-warning">Premium wifi</span></p>
				      </div>
				    </div>
				  </div>
				  <div class="col-xs-12 col-sm-8">
				    <div class="row list-group">
				      <div class="col-xs-12 list-group-item">
				        <h4><a href="/location">Jared's Jive</a><small>&nbsp;&nbsp;<span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span></small><span class="badge pull-right badge-defualt">550m</span></h4>
				        <p class="address">747 Fly Court, New York, 10001</p>
				        <p><span class="label label-warning">Live Music</span>&nbsp;&nbsp;<span class="label label-warning">Rooftop Bar</span>&nbsp;&nbsp;<span class="label label-warning">2 Floors</span>&nbsp;&nbsp;</p>
				      </div>
				    </div>
				  </div>
				  <div class="col-xs-12 col-sm-8">
				    <div class="row list-group">
				      <div class="col-xs-12 list-group-item">
				        <h4><a href="/location">Marina's Marina</a><small>&nbsp;&nbsp;<span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></small><span class="badge pull-right badge-defualt">6	00m</span></h4>
				        <p class="address">456 Jump Boulevard, New York, 10001</p>
				        <p><span class="label label-warning">Seafood</span>&nbsp;&nbsp;<span class="label label-warning">Ocean View</span>&nbsp;&nbsp;<span class="label label-warning">Prix Fixe</span>&nbsp;&nbsp;</p>
				      </div>
				    </div>
				  </div>
				  <div class="col-xs-12 col-sm-8">
				    <div class="row list-group">
				      <div class="col-xs-12 list-group-item">
				        <h4><a href="/location">Shawn's Dive Bar</a><small>&nbsp;&nbsp;<span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></small><span class="badge pull-right badge-defualt">700m</span></h4>
				        <p class="address">999 Push Avenue, New York, 10001</p>
				        <p><span class="label label-warning">Pool Table</span>&nbsp;&nbsp;<span class="label label-warning">Skee Ball</span>&nbsp;&nbsp;<span class="label label-warning">$2 Drafts</span>&nbsp;&nbsp;</p>
				      </div>
				    </div>
				  </div>
				</div>