<% layout('mainLayout') %>
				<div class="row page-header">
				  <div class="col-lg-12">
				    <div class="h1">Dan's Place</div>
				  </div>
				</div>
				<div class="row">
				  <div class="col-xs-12 col-md-9">
				    <div class="row">
				      <div class="col-xs-12 col-sm-6">
				        <p class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span></p>
				        <p>125 High Street, New York, 10001</p>
				          <div class="panel panel-primary">
				            <div class="panel-heading">
				              <h2 class="panel-title">Opening hours</h2>
				            </div>
				            <div class="panel-body">
				              <p>Monday - Friday : 7:00am - 7:00pm</p>
				              <p>Saturday : 8:00am - 5:00pm</p>
				              <p>Sunday : closed</p>
				            </div>
				          </div>
				          <div class="panel panel-primary">
				            <div class="panel-heading">
				              <h2 class="panel-title">Facilities</h2>
				            </div>
				            <div class="panel-body"><span class="label label-warning"><span class="glyphicon glyphicon-ok"></span> Hot drinks </span>&nbsp;&nbsp;<span class="label label-warning"><span class="glyphicon glyphicon-ok"></span> Food </span>&nbsp;&nbsp;<span class="label label-warning"><span class="glyphicon glyphicon-ok"></span> Premium wifi </span>&nbsp;&nbsp;</div>
				          </div>
				        <div class="col-xs-12 col-sm-6 location-map">
				          <div class="panel panel-primary">
				            <div class="panel-heading">
				              <h2 class="panel-title">Location map</h2>
				            </div>
				            <div class="panel-body"><img src="http://maps.googleapis.com/maps/api/staticmap?center=51.455041,-0.9690884&amp;zoom=17&amp;size=400x350&amp;sensor=false&amp;markers=51.455041,-0.9690884&amp;scale=2" class="img-responsive img-rounded"/></div>
				          </div>
				        </div>
				      </div>
				    </div>
				    <div class="row">
				      <div class="col-xs-12">
				        <div class="panel panel-primary review-panel">
				          <div class="panel-heading"><a href="/location/review/new" class="btn btn-default pull-right">Add review</a>
				            <h2 class="panel-title">Customer reviews</h2>
				          </div>
				          <div class="panel-body review-container">
				            <div class="row">
				              <div class="review">
				                <div class="well well-sm review-header"><span class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span></span><span class="reviewAuthor">Eric A.</span><small class="reviewTimestamp">03 February 2015</small></div>
				                <div class="col-xs-12">
				                  <p>Wonderful location! I can't say enough good things about this place.</p>
				                </div>
				              </div>
				            </div>
				            <div class="row">
				              <div class="review">
				                <div class="well well-sm review-header"><span class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span></span><span class="reviewAuthor">Philly B.</span><small class="reviewTimestamp">03 February 2015</small></div>
				                <div class="col-xs-12">
				                  <p>It was fine, but coffee was a bit dull. Nice atmosphere.</p>
				                </div>
				              </div>
				            </div>
				          </div>
				        </div>
				      </div>
				    </div>
				    <div class="col-xs-12 col-md-6">
				      <p class="lead">Dan's place is on Deal Finder because it has a get $50 for $25 offer.</p>
				      <p>If you've been and you like it - or if you don't - please leave a review to help other people just like you.</p>
				    </div>
				  </div>
				</div>		